/* GENERAL */

h1{
	color:#2d3138;
}

p{
	color:#2d3138;
}

section{
	margin-top: 2em;
	margin-bottom: 2em;
}

.px-1{
	padding-top: .5em;
	padding-bottom: .5em;
}

.mx-2{
	margin-top: 2em;
	margin-bottom: 2em;
}

.center{
	text-align: center;
}

.main>h1{
	margin-bottom: 1em;
	margin-top: 2em;
}

.copy{
	color: var(--pico-muted-color);
}


mark {
    padding: 0;
    background: linear-gradient(to right, #84266d, #6f3985, #5d409a, #43489d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xxx-large;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  color: white;
  font-size: medium;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  list-style: none;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}